.nav-menu
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 76px
  padding-left: 93px
  width: 327px
  height: 382px

  &__list
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-between

    &__item
      font-size: 1rem
      line-height: 1.5rem
      font-family: 'Vida31Pro'
      font-weight: 400

