.header-logo
  padding-top: 25px
  padding-right: 16px

  a
    font-size: 2.5rem

.header-nav
  padding-top: 42px
  padding-bottom: 35px

  &__menu
    display: flex

    &__item
      padding-left: 23px;
      font-size: 0.9rem

      a
        font-family: 'Vida31Pro'
        font-weight: 400

.bg
  height: 232px
  background-image: url('/home/oksana/work/Landing/layout-company/img/bg.png')


